<h3>Héroe <small>{{ heroe.nombre }}</small></h3>
<button class="btn btn-outline-danger" [routerLink]="['/heroes']">Regresar</button>
<button class="btn btn-outline-success" (click)="agregarNuevo(forma)">Nuevo Héroe</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">

      <div class="form-group">
        <label>Nombre</label>
        <input [(ngModel)]="heroe.nombre"
          type="text"
          name="nombre"
          class="form-control"
          placeholder="Nombre del heroe"
          required>
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select [(ngModel)]="heroe.casa" name="casa" class="form-control">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="heroe.bio"
          name="bio"
          class="form-control">
        </textarea>
      </div>

      <div class="form-group">
        <button [disabled]="!forma.valid"
          type="submit"
          class="btn btn-outline-primary"
          required>
          Guardar cambios
        </button>
      </div>

    </form>
    <pre>
      {{ heroe | json }}
    </pre>
  </div>
</div>
