<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">AuthApp</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['precios']" routerLinkActive="active">Precios</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()">
        <a class="nav-link" [routerLink]="['protegida']" routerLinkActive="active">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button class="btn btn-outline-primary btn-margin btn-sm" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-outline-primary btn-margin btn-sm" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </span>
  </div>
</nav>
