<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{ heroe.nombre }}</h4>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

      <button (click)="verHeroe(i)"
        type="button" name="button" class="btn btn-outline-primary btn-block">Ver más...</button>
    </div>
  </div>

</div>
