<h3>Chat</h3>
<hr>

<div id="app-mensajes" class="app-mensajes">

  <div *ngFor="let chat of cs.chats | async"
    [ngClass]="{'text-right': cs.usuario.uid == chat.uid}">
    <span class="badge"
        [ngClass]="{
        'badge-primary': cs.usuario.uid == chat.uid,
        'badge-success': cs.usuario.uid != chat.uid
      }">
      {{ chat.nombre }}
    </span>
    <p>{{ chat.mensaje }}</p>
  </div>

</div>

<input [(ngModel)]="mensaje" name="mensaje" (keyup.enter)="enviar()" class="form-control" placeholder="mensaje...">
